<!-- footer begin -->
<footer>
  <section>
    <p>
      &copy; Copyright by Islamic International Foundation of Cooperation :: IslamIFC
    </p>
  </section>
  <div id="dummy2"></div>
</footer>
<%#
<div class="footer-wrapper">
  <div id="footer" class="container_24 clearfix">
    <div class="grid_24 clearfix">
      Copyright © IslamIFC 2012. All Rights Reserved.
    </div>
  </div>
</div>
%>
<!-- footer end -->