<hgroup id="site-header">
  <div id="row2">
    <div id="wrap">
      <nav id="menu">

        <a class="nav active" href="#lessons" title="lessons">New Stuff</a>
        <a class="nav" href="#categories" title="categories">Categories</a>
        <a class="nav" href="#suggestions" title="suggestions">Suggestions</a>
        <a class="nav" href="#about" title="about">about</a>

      </nav>


      <form id="search">
        <input type="text" align="left" placeholder="Search..."/>
        <button class="btn" type="submit" align="center">Website</button>
        <button class="btn" type="submit" align="center">Glossary</button>

      </form>
    </div>
  </div>

  <section id="dummy"></section>

  <div id="row1">

    <h1 id="title">
      Integrated Online Services for Islamic Information Exchange and Education
    </h1>

    <div id="logo">
    </div>

    <div id="signing">

      <a class="btn" name="Login" id="loginbtn">
        Sign in
      </a>


      <a class="btn" name="Join" id="joinbtn">
        Join Us
      </a>



      <div id="sign-in" class="winbox">
        <div class="triangle"></div>
        <form id="sign-in-form">

          <input type="email" name="Email" placeholder="Email">
          <input type="password" name="Password" placeholder="Password">

          <button class="btn" type="submit" name="Sign in">Let me in!</button>

          <input type="checkbox"  name="Keep me" value="Keep me">Keep me signed in for a while!
          <a href="">I can't remember my password!</a>

          <button class="btn" id="fb-login"></button>
          <button class="btn" id="g-login"></button>

          <button name="Cancel" class="btn cancel">Cancel</button>
        </form>
      </div>

      <div id="sign-up" class="winbox">
        <div class="triangle"></div>
        <form id="sign-up-form">
          <input type="email" name="Email" placeholder="Email">
          <input type="password" name="Password" placeholder="Password">
          <input type="password" name="Password" placeholder="Repeat Password">


          <!-----------------------------captcha-------------------------------------------->
          <img id="captcha" src="http://image.captchas.net?client=demo&random=something">
          <a id="refresh" href="">refresh image</a>
          <input type="text" name="captcha" placeholder="Enter the text above">
          <!-----------------------------captcha-------------------------------------------->


          <button type="submit" name="Sign Up" class="btn joinbtn">Create my account!</button>
          <button name="Cancel" class="btn cancel">Cancel</button>
        </form>
      </div>

    </div>
  </div>


  <div id="row0">
    <div id="towhid"></div>
  </div>

</hgroup>