<div id="sidebar" class="grid_5">

  <!--/-Category -------------------------------------------------------------------------------------------------------------->
  <%= render 'shared/category' %>
  <!--\-Category -------------------------------------------------------------------------------------------------------------->

  <!--/-Glossary -------------------------------------------------------------------------------------------------------------->
  <%= render 'shared/glossary' %>
  <!--\-Glossary -------------------------------------------------------------------------------------------------------------->

  <!--/-TagCloud -------------------------------------------------------------------------------------------------------------->
  <%= render 'shared/tag_cloud' %>
  <!--\-TagCloud -------------------------------------------------------------------------------------------------------------->

</div>
<!-- end of sidebar -->