<section id="about">
  <div class="article">
    <h3>Who We Are?</h3>

    <p>The Islamic International Foundation
      for Cooperation (IslamIFC) is a nonprofit,
      nongovernmental, organization that works in
      cooperation with Muslim and non-Muslim groups
      and individuals in North America, Britain and
      Australia to promote mutual understanding and
      cultural exchange.<a href="#">Read More</a>
    </p>
  </div>
  <video id="about-video" controls="controls" draggable="false" height="190px" width="340">
    <!--<source src="hijab.present.sound-plaayer.mp4" type="video/mp4" >-->
    <!--<source src="hijab.present.sound-plaayer.ogg" type="video/ogg">-->
  </video>
</section>