<script id="lesson-template" type="text/x-handlebars-template">
  <ul id="list_of_lessons">
    {{#each lessons}}
      <li>
        <a><img src="{{image_file}}"></a>

        <div class="description">
          <p>
            <b>Category:</b><br>
            category-name<br>
            <b>Date Added:</b> {{created_at}}<br>
          </p>
          <span>
            <a>Play the Podcast</a>
          </span>
        </div>
        <a href="{{url}}" class="lesson-title">{{title}}</a>
      </li>
    {{/each}}
  </ul>
</script>

<script id="question-template" type="text/x-handlebars-template">
  <ul id="list_of_questions">
    {{#each questions}}
    <li>
      <a href="#" class="profile">
        <img src="">

        {{user.name}}
      </a>

      <a href="#" class="post">
        <p>{{question}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
</script>

<script id="discussion-template" type="text/x-handlebars-template">
  <ul id="list_of_discussion_posts">
    {{#each posts}}
    <li>
      <a href="#" class="profile">
        <img src="">
        {{user.name}}
      </a>

      <a href="#" class="post">
        <p>{{content}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
</script>

<script id="suggestion-template" type="text/x-handlebars-template">
  <ol id="list_of_suggestions">
    {{#each suggestions}}
    <li>{{title}}
      <a class="vote-up">&nbsp;</a>
      <a class="vote-down">&nbsp;</a>
    </li>
    {{/each}}
  </ol>
</script>