<section id="lessons">
  <header>
    <a href="#" class="title" title="go to lessons page">Lessons</a>
    <a href="#" class="latest" title="show latest entries">Latest</a>
    <a href="#" class="hottest" title="show popular entries">Most Popular</a>
    <a href="#" class="rss" title="subscribe to this feed">&nbsp</a>
  </header>

  <div id="player">

    <div class="image">
      <img src="http://placehold.it/150x100">
      <a>Playing Podcast...</a>
    </div>

    <div class="description">

      <a href="lesson.html">
        <b>Lesson Title</b>
      </a>

      <a>
        <b>Viewd:</b> 00 times
      </a>

      <a>
        <b>Date Added:</b> 00/00/00
      </a>
    </div>

    <div class="track">
      <a id="close_player">&nbsp;</a>
      <audio id="podcast" controls="controls" draggable="false">
        <!--<source>-->
      </audio>

      <ul id="lesson_sections">
        <li><a class="icon" id="Script_icon">&nbsp;</a></li>
        <li><a class="icon" id="Microblog_icon">&nbsp;</a></li>
        <li><a class="icon" id="QA_icon">&nbsp;</a></li>
        <li><a class="icon" id="Discussion_icon">&nbsp;</a></li>
        <li><a class="icon" id="Presentation_icon">&nbsp;</a></li>
      </ul>
    </div>
  </div>

  <ul id="list_of_lessons">
    <li>
      <a><img src="http://placehold.it/150x100"></a>

      <div class="description">
        <p>
          <b>Category:</b><br>
          category-name<br>
          <b>Date Added:</b> 00/00/00<br>
        </p>
                   <span>
                      <a>Play the Podcast </a>
                   </span>
      </div>
      <a href="lesson.html" class="lesson-title">Lesson Title</a>
    </li>

    <li>
      <a><img src="http://placehold.it/150x100"></a>

      <div class="description">
        <p>
          <b>Category:</b><br>
          category-name<br>
          <b>Date Added:</b> 00/00/00<br>
        </p>
                   <span>
                      <a>Play the Podcast </a>
                   </span>
      </div>
      <a href="lesson.html" class="lesson-title">Lesson Title</a>
    </li>

    <li>
      <a><img src="http://placehold.it/150x100"></a>

      <div class="description">
        <p>
          <b>Category:</b><br>
          category-name<br>
          <b>Date Added:</b> 00/00/00<br>
        </p>
                   <span>
                      <a>Play the Podcast </a>
                   </span>
      </div>
      <a href="" class="lesson-title">Lesson Title</a>
    </li>

    <li>
      <a><img src="http://placehold.it/150x100"></a>

      <div class="description">
        <p>
          <b>Category:</b><br>
          category-name<br>
          <b>Date Added:</b> 00/00/00<br>
        </p>
                   <span>
                      <a>Play the Podcast </a>
                   </span>
      </div>
      <a href="" class="lesson-title">Lesson Title</a>
    </li>

    <li>
      <a><img src="http://placehold.it/150x100"></a>

      <div class="description">
        <p>
          <b>Category:</b><br>
          category-name<br>
          <b>Date Added:</b> 00/00/00<br>
        </p>
                   <span>
                      <a>Play the Podcast </a>
                   </span>
      </div>
      <a href="" class="lesson-title">Lesson Title</a>
    </li>
  </ul>
</section>