<section id="QD">
  <div id="Questions">
    <header>
      <a href="" class="title">Questions</a>
      <a href="" class="latest" title="show latest entries">Latest</a>
      <a href="" class="hottest" title="show popular entries">Most Popular</a>
      <a href="" class="rss" title="subscribe to this feed">&nbsp</a>
    </header>

    <ul>
      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="question url" class="post">
          <p>Is hijab unique to Islam, or are dress codes for women found in other religions?</p>
        </a>
      </li>

      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="question url" class="post">
          <p>Is hijab unique to Islam, or are dress codes are</p>
        </a>
      </li>


      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="question url" class="post">
          <p>Can a Muslim woman wear hijab and have makeup on without covering her face?</p>
        </a>
      </li>

      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="question url" class="post">
          <p> Does hijab protect women from molestation?</p>
        </a>
      </li>

      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="question url" class="post">
          <p>Is hijab unique to Islam, or are dress codes for women found in other religions?</p>
        </a>
      </li>
    </ul>
  </div>

  <div id="Discussions">
    <header>
      <a href="" class="title">Discussions</a>
      <a href="" class="latest" title="show latest entries">Latest</a>
      <a href="" class="hottest" title="show popular entries">Most Popular</a>
      <a href="" class="rss" title="subscribe to this feed">&nbsp</a>
    </header>

    <ul>
      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="discussion url" class="post">
          <p>Is hijab unique to Islam, or are dress codes for women found in other religions?</p>
        </a>
      </li>

      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="discussion url" class="post">
          <p>Is hijab unique to Islam, or are dress codes for women found in other religions?</p>
        </a>
      </li>

      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="discussion url" class="post">
          <p>Is hijab unique to Islam, or are dress codes for women found in other religions?</p>
        </a>
      </li>

      <li>

        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="discussion url" class="post">
          <p>Well it’s the Qur’an that says that. And as the Qur’an says.</p>
        </a>
      </li>

      <li>
        <a href="profile" class="profile">
          <img src="img/profile.gif">
          Member ID
        </a>

        <a href="discussion url" class="post">
          <p>Is hijab unique to Islam, or are dress codes for women found in other religions?</p>
        </a>
      </li>
    </ul>
  </div>
</section>