<div id="sidebar" class="grid_5">

  <!--/-Category -------------------------------------------------------------------------------------------------------------->
  <%= render 'category' %>
  <!--\-Category -------------------------------------------------------------------------------------------------------------->

  <!--/-Glossary -------------------------------------------------------------------------------------------------------------->
  <%= render 'glossary' %>
  <!--\-Glossary -------------------------------------------------------------------------------------------------------------->

  <!--/-TagCloud -------------------------------------------------------------------------------------------------------------->
  <%= render 'tag_cloud' %>
  <!--\-TagCloud -------------------------------------------------------------------------------------------------------------->

</div>
<!-- end of sidebar -->