<section id="suggestions">
  <div id="topics">
    <header>
      <a href="" class="title">Suggestions</a>
      <a href="" class="latest" title="show latest entries">Latest</a>
      <a href="" class="hottest" title="show popular entries">Most Popular</a>
      <a href="" class="rss" title="subscribe to this feed">&nbsp</a>
    </header>

    <ol>
      <li>Islam
        <a class="vote-up">&nbsp;</a>
        <a class="vote-down">&nbsp;</a>
      </li>

      <li>Islam
        <a class="vote-up">&nbsp;</a>
        <a class="vote-down">&nbsp;</a>
      </li>

      <li>Islam
        <a class="vote-up">&nbsp;</a>
        <a class="vote-down">&nbsp;</a>
      </li>

      <li>Islam
        <a class="vote-up">&nbsp;</a>
        <a class="vote-down">&nbsp;</a>
      </li>

      <li>Islam
        <a class="vote-up">&nbsp;</a>
        <a class="vote-down">&nbsp;</a>
      </li>

      <li>Islam
        <a class="vote-up">&nbsp;</a>
        <a class="vote-down">&nbsp;</a>
      </li>

      <li>Islam
        <a class="vote-up">&nbsp;</a>
        <a class="vote-down">&nbsp;</a>
      </li>


    </ol>
  </div>

  <div id="suggest">
    <form id="suggest-something">
      <p>not enough?</p>

      <h2>Suggest a Topic!</h2>
      <input type="email" placeholder=" Your Email Address (so that we can inform you)">
      <input name="topic" type="text" placeholder=" Desired Topic">
      <textarea name="description" placeholder=" Description of your topic"></textarea>
      <button class="btn" type="submit">Submit!</button>
      <button class="btn" type="reset">Clear</button>
      <a class="btn" href="submission form">Fill out a detailed form</a>
    </form>
  </div>

</section>