
  <header>
    <h1>All Content</h1>
    <h3>Show</h3>
    <select id="type_filter">
    <option selected="selected">all</option>
    <option>Lessons</option>
    <option>Micro Blog Posts</option>
    <option>Q and A Entries</option>
    <option>Discussion Entries</option>
    </select>

    <h3>Sort by</h3>
    <select id="sort">
    <option selected="selected">Newest</option>
    <option>Oldest</option>
    <option>Most Popular</option>
    <option>Least Popular</option>
    </select>
  </header>

<section id="all-content">

  <ul>
    <li class="lesson">
      <div class="description">
        <h2><a href="" class="title">lesson title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <a class="more">Go to this item</a>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
    </li>

    <li class="micro-blog">
      <div class="description">
        <h2><a href="" class="title">Micro Blog title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <a class="more">Go to this item</a>
    </li>

    <li class="q-and-a">
      <div class="description">
        <h2><a href="" class="title">Question title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <a class="more">Go to this item</a>
    </li>

    <li class="discussion">
      <div class="description">
        <h2><a href="" class="title">Discussion title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <a class="more">Go to this item</a>
    </li>

    <li class="lesson">
      <div class="description">
        <h2><a href="" class="title">lesson title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <a class="more">Go to this item</a>
    </li>

    <li class="micro-blog">
      <div class="description">
        <h2><a href="" class="title">Micro Blog title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <a class="more">Go to this item</a>
    </li>

    <li class="q-and-a">
      <div class="description">
        <h2><a href="" class="title">Question title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <a class="more">Go to this item</a>
    </li>

    <li class="discussion">
      <div class="description">
        <h2><a href="" class="title">Discussion title</a></h2>
        <p>
        description of this item goes here
        </p>
      </div>
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <a class="more">Go to this item</a>
    </li>
  </ul>


</section>

