
  <header>
    <h1>Site Updates</h1>
    <h3>Show</h3>
    <select id="type_filter">
    <option selected="selected">all</option>
    <option>Lessons</option>
    <option>Micro Blog Posts</option>
    <option>Q and A Entries</option>
    <option>Discussion Entries</option>
    </select>

    <h3>Sort by</h3>
    <select id="sort">
    <option selected="selected">Newest</option>
    <option>Oldest</option>
    <option>Type</option>
    </select>
  </header>

<section id="updates">

  <ul>
    <li class="lesson selected">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b>category-name
        </p>
      </div>
    </li>

    <li class="micro-blog">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b> category-name
        </p>
      </div>
    </li>

    <li class="q-and-a">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b>category-name
        </p>
      </div>
    </li>

    <li class="discussion">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b>category-name
        </p>
      </div>
    </li>

    <li class="lesson">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b>category-name
        </p>
      </div>
    </li>

    <li class="micro-blog">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b>category-name
        </p>
      </div>
    </li>

    <li class="q-and-a">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b>category-name
        </p>
      </div>
    </li>

    <li class="discussion">
      <div class="date">
        <p title="12:45 pm">1 hour ago</p>
      </div>
      <div class="description">
        <a href="lesson.html" class="lesson-title"><h2>lesson title</h2></a>
        <p>
          <b>Category:</b>category-name
        </p>
      </div>
    </li>

  </ul>


  <aside>
    <p>Select an item to view it's content here.</p>
    <a class="more">Go to this item</a>
  </aside>
</section>

