<div id="annotations">

    
    <h3>Annotations</h3>

    <!--if no annotation exists    -->
    <p id="guideline">
      Select part of the script's text to add your own annotation
    </p>
    <!--end if no annotation exists  -->


    <script id="annotation-template" type="text/plain">

      <!--every note should have this structure-->
      <div class="note" data-order="1">
        <div class="header">
          <a class="button green"></a>
          <a class="button blue"></a>
          <a class="button yellow"></a>
          <a class="button red"></a>
          <a class="button minimize"></a>
          <a class="button delete"></a>
        </div>
        <p contentEditable="true">
        </p>
      </div>
      <!--end of note structure-->
    </script>
  
  </div>
