<div id="breadcrumb">
    <%= link_to "Home", home_path %>
    <span></span>
    <a class="category"><%= @lesson_parent_category.name %></a>
    <span></span>
    <a class="sub_category"><%= @lesson_category.name %></a>
    <span></span>
</div>

