<b>Current path:</b>
<a class="category active"><%= @lesson_parent_category.name %></a>
<a class="sub_category active"><%= @lesson_category.name %></a>
<div id="row3">
  <% @categories.each do |category| %>
      <% active = @lesson_parent_category.id == category.id ? ' active' : '' %>
      <%= content_tag(:a, category.name, class: "category" << active) %>
  <% end %>
</div>

<div id="row4">
  <% @lesson_parent_category.sub_categories.each do |category| %>
      <% active = @lesson_category.id == category.id ? ' active' : '' %>
      <%= content_tag(:a, category.name, class: "sub_category" << active) %>
  <% end %>
</div>


