<div id="row3">
  <b>You are here:</b>
  <br><br>
  <% @categories.each do |category| %>
      <% active = @lesson_parent_category.id == category.id ? ' active' : '' %>
      <%= content_tag(:a, category.name, class: "category" << active) %>
  <% end %>
</div>

<div id="row4">
  <% @lesson_parent_category.sub_categories.each do |category| %>
      <% active = @lesson_category.id == category.id ? ' active' : '' %>
      <%= content_tag(:a, category.name, class: "sub_category" << active) %>
  <% end %>
</div>


