<div id="glossary_dialog" class="window orange_window">
  <a class="cross close" href="#"></a>

  <div id="term_name_wrapper" style="margin-bottom: 10px;">
    <h1 id="term_name" style="text-transform: capitalize; display: inline;"></h1>
    <a href="#" id="play_pronun"></a>
  </div>

  <audio id="term_pronun" style="margin-bottom: 10px; display: none;">
  </audio>

  <img id="term_image" />

  <p id="term_full_def" style="margin-bottom: 10px;"></p>

  <div id="term_link_wrapper">
    <strong>Read more: </strong>
    <a id="term_link" href="#"></a>
  </div>
</div>