<div class="image">
  <img src="http://placehold.it/150x100" />
</div>

<div class="description">

  <a>
    <!--TODO: use impresstionist-->
    <b>Viewd:</b> 00 times
  </a>

  <a>
    <b>Date Added:</b> <%= @lesson.created_at.strftime("%d %b %Y") %>
  </a>
</div>

