<div id="QandA">  <!--------------------------------------------------------------------------Q and A tab-->

  <div class="QAbody">

    <% @lesson.questions.each do |question| %>

        <div class="question">
                            <span class="id"><%= question.user.name %>
                              <a class="vote-up" title="vote up this!">&nbsp;</a>
                                <a class="vote-down" title="vote down this!">&nbsp;</a>
                            </span>

          <p><%= question.question %></p>
        </div>

        <div class="answer">
                            <span class="id"><%= question.answered_by %>
                              <a class="vote-up" title="vote up this!">&nbsp;</a>
                                <a class="vote-down" title="vote down this!">&nbsp;</a>
                            </span>

          <p><%= question.answer %></p>
        </div>


    <% end %>


  </div>


</div>  <!-----------------------------------------------------------------------------end of Q and A tab-->