<div id="References">  <!------------------------------------------------------------------References tab-->
  References used for this lesson:

  <ol>

    <% @references.each do |reference| %>
        <li>
          <%= reference.title %> <br/>
          <%= reference.description %>
        </li>
    <% end %>

  </ol>
</div>  <!--------------------------------------------------------------------------end of References tab-->