<div id="References">  <!------------------------------------------------------------------References tab-->
  References used for this lesson:

  <ol>
    <li>
      some text here as an address to this reference
    </li>
    <li>
      some text here as an address to this reference
    </li>
    <li>
      some text here as an address to this reference
    </li>
    <li>
      some text here as an address to this reference
    </li>
    <li>
      some text here as an address to this reference
    </li>
    <li>
      some text here as an address to this reference
    </li>
    <li>
      some text here as an address to this reference
    </li>
  </ol>
</div>  <!--------------------------------------------------------------------------end of References tab-->