<% title('iosie VISITOR - View Lesson') %>
<!-- /-- Body -->
<%= render :partial => "shared/header" %>

<div id="wrapper">
  <section id="dummy"></section>
  <%= render :partial => "lesson/partial/categories" %>
</div>
<!-- \-- Body -->
