<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= yield(:title) %></title>


  <%= stylesheet_link_tag  "application" , params[:controller], :media => "all" %>

  <%= javascript_include_tag "application", params[:controller] %>
</head>

<body>
<div id="mask"></div>

<%= yield %>

</body>
</html>